.funding-header {
    padding-top: 160px;
    padding-bottom: 100px;
    text-align: center;
  }
  
  .funding-header-inner {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .funding-header h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  
  .funding-header p {
    font-family: "Cormorant Garamond", serif;
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 32px;
  }
  
  .funding-header-divider {
    height: 2px;
    background: black;
    width: 100%;
  }
  