/* ============================= */
/* COMMUNITY OUTREACH            */
/* ============================= */

.community-section {
  background: #fdf5e6;

  width: 100vw;
  margin-left: calc(-50vw + 50%);

  padding: 100px 20px 160px;
  text-align: center;
}
  
  .community-section h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 48px;
    margin-bottom: 80px;
  }
  
  .community-grid {
    max-width: 1300px;
    margin: 0 auto;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  
  .community-item {
    overflow: hidden;
  }
  
  .community-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
  
  .community-item:hover img {
    transform: scale(1.05);
  }

  .community-hero-line{
    width: 1000px;
    height: 2px;
    background: black;
    margin: 28px auto 80px;
  }
  
  /* Responsive */
  
  @media (max-width: 1024px) {
    .letters-inner {
      grid-template-columns: 1fr;
      gap: 60px;
    }
  
    .community-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 640px) {
    .community-grid {
      grid-template-columns: 1fr;
    }
  }
  