/* Global base styles */
:root {
  --left-gutter: 60px;
  --nav-height: 96px;
  --page-padding-right: 48px;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /*Temp To Delete*/
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  background-color: white;
  color: #111;
}

#root {
  min-height: 100vh;
}

#page-content {
  padding-top: var(--nav-height);
  padding-left: var(--left-gutter);
  padding-right: var(--page-padding-right);
}

@media (max-width: 768px) {
  :root {
    --left-gutter: 20px;
    --page-padding-right: 20px;
  }

  #page-content {
    padding-top: 80px; /* matches mobile navbar height */
  }
}